<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./styl.css">
    <link rel="stylesheet" href="./light.css">
    <link rel="stylesheet" href="./dark.css">
</head>
<body>
    <div class="glowna">

        <% for(d of databases) { %>
            <p>
                <a target="_top" href="/tables?d=<%= d.Database %>"><%= d.Database %></a>
            </p>
        <% } %> 

</div>
</body>
</html>