<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styl.css">
    <title>Document</title>
    <style>

* {
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: [1] 20vh [2] 80vh [3] auto;
    grid-template-rows: [1] 40vh [2] 60vh;

}

.bok{
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20vh;
    height: 100vh;

    background-color: #272727;
    border-right: 2px solid rgb(255, 0, 0);
    
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
}

ul {
    list-style-type: none;
    }

.pole{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span(1);
    width: 80vh;
    background-color: rgb(36, 36, 36);
    height: 40vh;
}


    </style>
</head>
<body>
    <div class="bok">
        <ul>
            <li>
                12
            </li>
            <li>
                23
            </li>
        </ul>
    </div>
    <div class="pole"></div>
    <div class="wynik"></div>
</body>
</html>