<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styl.css">
    <title>Document</title>
    <style>

* {
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: [1] 10px [2] 20vh [3] 80vh [4] auto;
    grid-template-rows: [1] 10px [2] 40vh [3] 60vh [4] auto;
    width: 100%;

}

.bok{
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: span(1);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: #0b0c10;
    border-right: 2px solid #66fcf1;
    
    color: #c5c6c7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
}

ul {
    list-style-type: none;
    }

.pole{
    grid-column: 1/span(2);
    grid-row: 1/span(1);
    background-color: #1f2833;
}

.wynik{
    grid-column-start: 1;
    grid-row: 2/span(1);
    background-color: #1f2833;

}


    </style>
</head>
<body>
    <div class="bok">
        <ul>
            <li>
                12
            </li>
            <li>
                23
            </li>
        </ul>
    </div>
    <div class="pole">
    </div>
    <div class="wynik">
        
    </div>
</body>
</html>