<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styl.css">
    <title>Document</title>

</head>
<body>
    <div class="bok">
    </div>
    <div class="prawo">
        <div class="tekst"></div>
        <div class="wynik">
            <table>

    <% for(element of data) { %>
        <tr>
            <% for(key in element) { %>
                  <%= key %>
                  <td> <div class="wartosc">
                    <%= element[key] %>
                </div></td>
                <% } %>
            </tr>
            </div>
          
        
    <% } %>
</table>
 </div>
</div>
</body>
</html>