<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styl.css">
    <link rel="stylesheet" href="./light.css">
    <link rel="stylesheet" href="./dark.css">
    <title><%= title %></title>
</head>
<body>
    <div class="bok">
    <ul>
        <% for(t of tables) { %>
            <li>
                <a href="/table?t=<%= t.table_name %>"><%= t.table_name %></a>
            </li>
        <% } %>
    </ul>
</div>
<div class="prawo">
    <div class="tekst"></div>
    <div class="wynik"></div>
</div>
</body>
</html>