<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styl.css">
    <link rel="stylesheet" href="./light.css">
    <link rel="stylesheet" href="./dark.css">
    
    <title><%= title %></title>

</head>
<body>
    <div class="bok">
        <iframe src="/tables?d=<%= d.Database %>"></iframe>
    </div>
    <div class="prawo">
        <div class="tekst"></div>
        <div class="wynik">
            <table>
                <% for(name in data[0]) { %>
                    <th>
                        <%= name %>
                    </th>
                <% } %>
                <% for(element of data) { %>
                <tr>
                    <% for(key in element) { %>
                    <td>
                        <div class="wartosc">
                        <%= element[key] %>
                    </div>
                </td>
            <% } %>
        </tr>
    <% } %>
</table>
 </div>
</div>
</body>
</html>