* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body{
    display: flex;
    width: 100%;

}

.bok{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20vw;
    height: 100vh;

    background-color: var(--dark_left_bgc);
    border-right: 2px solid var(--primary_c);
    
    color: var(--dark_font_color);
    font-size: larger;
}

.prawo{
    display: flex;
    flex-direction: column;
    
}

.tekst{

    width: 80vw;
    height: 50vh;
    background-color: var(--dark_bgc);
}

.wynik{

    width: 80vw;
    height: 50vh;
    background-color: var(--dark_bgc);

}

table{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 30px;
    width: calc(80vw - 60px);
    height: calc(50vh - 60px);

    color: var(--primary_c);

}

table td {
    border: 2px solid var(--primary_c);
    border-collapse: collapse;
    width: 170px;
    height: 25px;
    text-align: center;
}

table th{
    background-color: var(--primary_c);
    color: var(--dark_bgc);
    border: 2px solid var(--primary_c);
    border-collapse: collapse;
    width: 170px;
    height: 20px;
    text-align: center;
}

td:hover {
    background-color: var(--dark_hover);
}
ul {
    list-style-type: none;

}

ul a{
    color: var(--primary_c);
    text-decoration: none;
    margin: 10px;
}

a:hover{
    border-bottom: 1px solid var(--primary_c);
}

.tekst {
    display: flex;
    align-items: center;
    color: var(--primary_c);
}

.tekst form{
    margin: 30px;
    padding: 10px;
}

