* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

body{
    display: flex;
    width: 100%;
    height: 100%;
}

.bok{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 20vw;
    height: 100vh;

    background-color: var(--dark_left_bgc);
    border-right: 2px solid var(--primary_c);
    
    color: var(--dark_font_color);
    font-size: larger;
}

.prawo{
    display: flex;
    flex-direction: column;
    
}

.tekst{

    width: 80vw;
    height: 50vh;
    background-color: var(--dark_bgc);
}

.wynik{

    width: 80vw;
    height: 50vh;
    background-color: var(--dark_bgc);

}

table{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 30px;
    width: calc(80vw - 60px);
    height: calc(50vh - 60px);

    color: var(--primary_c);

}

table td {
    border: 2px solid var(--primary_c);
    border-collapse: collapse;
    width: 170px;
    height: 25px;
    text-align: center;
}

table th{
    background-color: var(--primary_c);
    color: var(--dark_bgc);
    border: 2px solid var(--primary_c);
    border-collapse: collapse;
    width: 170px;
    height: 20px;
    text-align: center;
}

td:hover {
    background-color: var(--dark_hover);
}
ul {
    list-style-type: none;

}

ul a{
    color: var(--primary_c);
    text-decoration: none;
    margin: 10px;
}

a:hover{
    border-bottom: 1px solid var(--primary_c);
}

.tekst {
    display: flex;
    align-items: center;
    color: var(--primary_c);
}

.tekst form{
    margin: 30px;
    padding: 10px;
}

.bok iframe{
    width: 19vw;
    height: 100vh;
    border: none;
    overflow: scroll;
}

input[type=submit]:NOT(.no) {
    position: absolute;
}

.glowna {
    background-color: var(--dark_left_bgc);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.glowna p a{
    color: var(--primary_c);
    text-decoration: none;
    font-size: larger;
}

.boczny a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary_c);
    text-decoration: none;
}

.tekst iframe{
    width: 79vw;
    height: 49vh;
    border: none;
    overflow: hidden;
}

textarea{
    width: 70vw;
    height: 40vh;
    resize: none;
    padding: 5px;
}

.wynikowy{
    margin: 45px;
    width: 70vw;
    height: 40vh;
    border: none;
}

.index{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 300px;
    background-color: var(--dark_bgc);
    width: 100vw;
    height: calc(100vh - 600px);

}

.index h1{
    color: var(--primary_c);
}

.index a{
    color: var(--primary_c);
    text-decoration: none;
    font-size: larger;

}

.bok a{
    color: var(--primary_c);
    text-decoration: none;
    font-size: larger;
}

.glowna a {
    color: var(--primary_c);
    text-decoration: none;
    font-size: larger;

}



